{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "upload-to-minio.serviceAccountName" . }}
  labels:
{{ include "upload-to-minio.labels" . | nindent 4 }}
{{- end -}}
